.about-section-container {
  display: flex;
  flex-direction: column;
}

.about-container {
  display: flex;
  align-items: center;
  margin: auto;
  margin-bottom: 16rem;
  margin-top: 10rem;
}

.about-btn-img {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.about-image-container img {
  max-width: 25rem;
  margin-right: 4rem;
}

.about-text-container {
  max-width: 25rem;
  font-size: 1rem;
  line-height: 1.6rem;
  color: var(--clr-primary-200);
  margin-left: 5.5rem;
}

.about-text-container h2 {
  font-size: 2.8rem;
  line-height: 4.2rem;
  margin-bottom: 2rem;
  color: var(--clr-primary-000);
}

.about-text-container h3 {
  color: var(--clr-secondary-400);
  font-weight: 400;
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

.about-skills-container {
  display: flex;
  flex-direction: column;
}

.about-skills-container li {
  list-style-type: none;
  color: var(--clr-primary-200);
  position: relative;
  right: 1.7rem;
  font-size: 1rem;
  padding-left: 0.75rem;
  margin-bottom: 1.5rem;
}

.about-skills-container li:last-child {
  margin-bottom: 0;
}

.about-skills-container li:before {
  content: "\25BA \0020";
  position: absolute;
  color: var(--clr-secondary-400);
  font-size: 0.7rem;
  left: -0.7rem;
}

.about-left-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.about-btn-container {
  position: absolute;
}

.about-cv-btn,
.about-certificates-btn {
  position: relative;
  bottom: 4.35rem;
  background-image: url("../../assets/about-triangle/about-button.svg");
  width: 6.6rem;
  height: 7.5rem;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
  cursor: pointer;
  padding-left: 0.8rem;
  font-size: 0.8rem;
  color: var(--clr-primary-000);
  text-align: left;
  animation: pulse 2s infinite;
  white-space: pre-line;
}

.about-certificates-btn {
  top: 4.22rem;
  left: -6.6rem;
  padding-top: 0.2rem;
}

.about-cv-btn:hover,
.about-certificates-btn:hover {
  animation: none;
}

/* MOBILE + SMALL SCREENS */
@media (max-width: 1380px) {
  .about-container {
    flex-direction: column;
    margin: auto 2rem;
    margin-bottom: 16rem;
    margin-top: 10rem;
  }

  .about-left-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 100%;
  }

  .about-image-container {
    max-width: 25rem;
  }

  .about-image-container img {
    max-width: 100%;
  }

  .about-skills-container {
    display: flex;
    flex-direction: column;
    max-width: 8rem;
  }

  .about-skills-container li:before {
    font-size: 0.5rem;
    left: -0.5rem;
  }

  .about-skills-container li {
    font-size: 1rem;
    margin-bottom: 1.5rem;
    right: 0;
  }

  .about-text-container {
    margin: auto;
    margin-top: 5rem;
    max-width: 33rem;
  }

  .about-cv-btn,
  .about-certificates-btn {
    bottom: 3.88rem;
    width: 5.7rem;
    height: 6.5rem;
  }

  .about-certificates-btn {
    top: 3.75rem;
    left: -5.7rem;
  }
}

/* ULTRA SMALL SCREENS */
@media (max-width: 450px) {
  .about-left-container {
    flex-direction: column;
  }

  .about-image-container {
    max-width: 33rem;
  }

  .about-image-container img {
    margin-right: 0;
  }

  .about-skills-container {
    display: inline;
    flex-direction: row;
    max-width: 33rem;
    margin-top: 4rem;
    text-align: center;
  }

  .about-skills-container ul {
    list-style: none;
    padding-left: 0;
  }

  .about-skills-container li:before {
    display: inline;
    font-size: 0.5rem;
    left: 0;
  }

  .about-skills-container li {
    display: inline-block;
    font-size: 1rem;
    right: 0;
    padding-right: 1rem;
  }

  .about-cv-btn,
  .about-certificates-btn {
    right: 0rem;
    width: 5.7rem;
    height: 6.5rem;
  }

  .about-certificates-btn {
    top: 3.85rem;
    left: -5.7rem;
  }
}

/* ULTRA-WIDE SCREENS */
@media (min-width: 1921px) {
  .about-container {
    margin-bottom: 20rem;
    margin-top: 16rem;
  }
}