.projects-section-container {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.projects-container {
  max-width: 100%;
  position: relative;
  margin: 7rem auto;
  margin-top: 5rem;
  right: 1.5rem;
  display: flex;
  justify-content: space-between;
}

.project-title {
  position: absolute;
  margin-top: 5rem;
  z-index: 2;
}

.project-title h2 {
  font-size: 3rem;
  line-height: 3rem;
  margin-bottom: 2rem;
  color: var(--clr-primary-000);
}

.project-title h3,
.projects-text-container h3 {
  color: var(--clr-secondary-400);
  font-weight: 400;
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

.triangle-svg-container {
  max-width: 40rem;
  margin-top: 5rem;
  margin-right: 5rem;
  z-index: 1;
}

.triangle-svg {
  max-width: 100%;
}

.projects-btn-container {
  position: relative;
  bottom: 36.4rem;
}

.triangle-btn-back {
  position: relative;
  top: 23.15rem;
  left: 3.5rem;
  background-image: url("../../assets/projects-section/hero-triangle-button-1.svg");
  width: 8.1rem;
  height: 7.4rem;
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  animation: pulse 2s infinite;
  padding-top: 1.5rem;
  font-size: 0.8rem;
  color: var(--clr-primary-000);
}

.triangle-btn-forth {
  position: relative;
  top: 7.3rem;
  left: 23.2rem;
  background-image: url("../../assets/projects-section/hero-triangle-button-2.svg");
  width: 8.8rem;
  height: 7.8rem;
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  animation: pulse 2s infinite;
  padding-bottom: 1.7rem;
  font-size: 0.8rem;
  color: var(--clr-primary-000);
}

.triangle-btn-back:hover,
.triangle-btn-forth:hover {
  animation: none;
}

.projects-text-container {
  max-width: 30rem;
  margin-top: 5rem;
  font-size: 1rem;
  line-height: 1.6rem;
  color: var(--clr-primary-200);
}

.projects-head {
  display: flex;
  justify-content: space-between;
  padding-left: 2rem;
}

.projects-links {
  display: flex;
  flex-direction: row;
}

.external-link,
.github-link {
  background-image: url("../../assets/projects-section/arrow-up-right-from-square-solid-white.svg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 1.2rem;
  height: 1.2rem;
  margin-left: 0.75rem;
}

.github-link {
  background-image: url("../../assets/projects-section/github-white.svg");
  width: 1.25rem;
  height: 1.25rem;
}

.external-link:hover {
  background-image: url("../../assets/projects-section/arrow-up-right-from-square-solid-orange.svg");
}

.github-link:hover {
  background-image: url("../../assets/projects-section/github-orange.svg");
}

.projects-text-accordion li {
  list-style: none;
  width: 100%;
  margin-top: 2rem;
}

.label-img {
  background-image: url("../../assets/projects-section/chevron-right-solid-darkgrey.svg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 1rem;
  height: 1rem;
  margin-right: 1rem;
  transition: transform 0.5s;
}

.label-img.active {
  background-image: url("../../assets/projects-section/chevron-right-solid-white.svg");
  transform: rotate(90deg);
}

.projects-text-accordion li label {
  display: flex;
  align-items: center;
  font-size: 1.4rem;
  font-family: var(--ff-headlines);
  font-weight: 700;
  color: var(--clr-primary-400);
  cursor: pointer;
}

.label-clr.active {
  color: var(--clr-primary-000);
}

input[type="radio"] {
  display: none;
}

.projects-text-accordion .content {
  color: var(--clr-primary-200);
  padding-top: 0rem;
  padding-bottom: 0.5rem;
  padding-left: 2rem;
  padding-right: 0;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s;
  margin-bottom: 1.5rem;
}

.content p,
.icon-container {
  margin-top: 1.5rem;
}

.pre-line {
  white-space: pre-line;
}

.icon-container * {
  margin-right: 1rem;
}

.margin * {
  margin-bottom: 1rem;
}

.projects-text-accordion input[type="radio"]:checked + label + .content {
  max-height: 22rem;
}

.content-hr {
  bottom: 0rem;
  width: 100%;
}

.credit-link {
  color: var(--clr-primary-200);
  transition: all var(--animation-timing);
}

.credit-link:hover {
  color: var(--clr-secondary-200);
}

.video-ad {
  max-width: 100%;
  height: auto;
  margin-top: 1rem;
}

/* MOBILE + SMALL SCREENS */
@media (max-width: 1380px) {
  .projects-section-container {
    align-items: center;
    overflow: auto;
  }

  .projects-container {
    flex-direction: column;
    position: unset;
    max-width: 33rem;
    margin: 0 2rem;
    margin-bottom: 12rem;
    margin-top: 4rem;
  }

  .projects-head h3 {
    font-size: 1.25rem;
    line-height: 1.875rem;
  }

  .external-link,
  .github-link {
    width: 1.5rem;
    height: 1.5rem;
    margin-left: 0.95rem;
  }

  .github-link {
    width: 1.56rem;
    height: 1.56rem;
  }

  .project-title {
    position: unset;
    max-width: 33rem;
    margin-top: 4rem;
    z-index: 2;
  }

  .project-title h2 {
    font-size: 2.8rem;
    line-height: 4.2rem;
  }

  .project-title h3 {
    font-size: 1.25rem;
    line-height: 1.875rem;
  }

  .triangle-svg {
    max-width: 100%;
  }

  .triangle-svg-container {
    max-width: 33rem;
    margin: 0 auto;
    margin-top: 0;
    margin-bottom: 4rem;
  }

  .projects-btn-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: unset;
  }

  .triangle-btn-back {
    top: 0;
    left: 0;
    width: 6.375rem;
    height: 5.875rem;
    font-size: 1rem;
    padding-top: 1.25rem;
    padding-bottom: 0;
  }

  .triangle-btn-forth {
    top: 0;
    left: 0;
    width: 6.375rem;
    height: 5.875rem;
    font-size: 1rem;
    padding-bottom: 1.5rem;
  }

  .triangle-btn-back:hover,
  .triangle-btn-forth:hover {
    animation: none;
  }

  .projects-text-container {
    max-width: 33rem;
    margin-right: 0;
    margin-top: 4rem;
  }

  .projects-head {
    padding-left: 0;
  }

  .projects-text-accordion {
    list-style: none;
    padding-left: 0;
  }

  .label-img {
    width: 1.25rem;
    height: 1.25rem;
  }

  .projects-text-accordion li label {
    font-size: 1.75rem;
    line-height: 2.625rem;
  }

  .content p {
    font-size: 1.25rem;
    line-height: 1.875rem;
  }
}

/* ULTRA-WIDE SCREENS */
@media (min-width: 1921px) {
  .projects-container {
    margin-top: 6rem;
    margin-bottom: 10rem;
  }
}
