.navbar {
  height: 6rem;
  width: 100%;
  position: fixed;
  transition: all var(--animation-timing);
  z-index: 999;
}

.top {
  top: 0;
}

.down {
  top: -6rem;
}

.up {
  top: 0;
}

.up,
.down {
  background: rgba(21, 21, 21, 0.97);
  box-shadow: 0px 0px 5px black;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
}

.nav-logo img {
  height: 3rem;
  cursor: pointer;
}

.nav-links ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  cursor: pointer;
  width: 25rem;
  padding-left: 5rem;
}

.nav-links ul a {
  font-family: var(--ff-headlines);
  font-size: 0.8rem;
  font-weight: 400;
  white-space: nowrap;
  color: var(--clr-primary-000);
  text-decoration: none;
  transition: color var(--animation-timing);
}

.nav-links ul a:hover {
  color: var(--clr-secondary-200);
}

.nav-links ul a.active {
  color: var(--clr-secondary-200);
}

.lang-btn-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 25rem;
  padding-right: 5rem;
}

.lang-btn {
  margin-right: 0.5rem;
  color: var(--clr-primary-000);
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-family: var(--ff-headlines);
  font-size: 0.8rem;
  font-weight: 400;
  transition: color var(--animation-timing);
}

.lang-icon {
  color: var(--clr-primary-000);
  transition: color var(--animation-timing);
}

.lang-btn:hover + .lang-icon {
  color: var(--clr-secondary-200);
}

.lang-btn:hover {
  color: var(--clr-secondary-200);
}

/* MOBILE */
@media (max-width: 768px) {
  .nav-logo img {
    height: 3rem;
    margin-right: 0;
    margin-left: 2rem;
  }

  .menu-icon {
    position: absolute;
    right: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transform: rotate(180deg);
    width: 2.7rem;
    height: 2rem;
    z-index: 999;
  }

  .menu-icon .bar {
    height: 0.15rem;
    width: 100%;
    transform-origin: left center;
    background-color: var(--clr-primary-200);
    transition: all var(--animation-timing);
  }

  .menu-icon.active span:nth-child(1) {
    transform: rotate(45deg);
  }

  .menu-icon.active span:nth-child(3) {
    transform: rotate(-45deg);
  }

  .middle {
    max-width: 70%;
  }

  .middle.active {
    width: 0;
  }

  .nav-links {
    position: absolute;
    right: 0;
    top: 0;
    background-color: var(--clr-primary-600);
    width: 45%;
    height: 0;
    overflow: hidden;
    transition: all var(--animation-timing);
    border-left: 1px solid var(--clr-primary-200);
    z-index: 2;
  }

  .nav-links.active {
    padding-top: 10rem;
    height: 100vh;
    transition: all var(--animation-timing);
    border-left: 1px solid var(--clr-primary-200);
  }

  .lang-btn-container-mobile {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 10rem;
    transition: all var(--animation-timing);
  }

  .nav-links ul {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-right: 4rem;
  }

  .nav-links ul li {
    margin-bottom: 4rem;
  }

  .nav-links ul a,
  .lang-btn {
    font-size: 1.4rem;
  }

  .lang-icon {
    font-size: 2.8rem;
  }
}

/* LAPTOPS */
@media (min-width: 769px) and (max-width: 1380px) {
  .navbar {
    height: 5rem;
  }

  .nav-logo img {
    height: 2.5rem;
  }

  .nav-links ul,
  .lang-btn-container {
    max-width: 25rem;
    padding: 0 5rem;
  }

  .nav-links ul a {
    font-size: 0.7rem;
  }
}
