@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&family=Raleway:wght@100;400;500;700&display=swap");

:root {
  font-size: 20px;

  --clr-primary-200: #ff4d00;
  --clr-primary-400: #ff4000;

  --clr-accent: #16f568;
  --clr-bg: black;

  --clr-font-dark: black;
  --clr-font-bright: white;

  --ff-headlines: "Raleway", sans-serif;
  --ff-text: "Open Sans", sans-serif;

  --animation-timing: 0.3s ease-in-out;
}

/* RESET CSS */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: var(--clr-bg);
  font-family: var(--ff-text);
  color: var(--clr-font-bright);
  font-weight: 400;
  line-height: 1rem;
}

body,
h1,
h2,
h3,
p {
  margin: 0;
}

h1,
h2,
h3 {
  color: var(--clr-font-bright);
  font-family: var(--ff-headlines);
  line-height: 1.5em;
}

/* NAVBAR */
.navbar {
  height: 8rem;
  background-color: transparent;
  position: relative;
}

.nav-container {
  max-width: 1700px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.nav-logo {
  margin-left: 4rem;
}

.nav-logo img {
  height: 4rem;
  margin-top: 0.5rem;
}

.nav-links ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  text-align: left;
}

.nav-links ul a {
  font-family: var(--ff-headlines);
  font-size: 1rem;
  font-weight: 400;
  color: var(--clr-font-bright);
  text-decoration: none;
  margin-right: 4rem;
}

.nav-links ul a.active {
  color: var(--clr-primary-400);
  font-weight: 500;
}

.nav-links li {
  margin-top: 0.5rem;
  text-align: right;
}

/* HERO SECTION */
.hero-section-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-headline-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 1.3rem;
  max-width: 1300px;
  padding: 0 4rem;
  margin-top: 8rem;
}

.hero-triangle {
  width: 100%;
  height: calc(200vh - 80px);
}

/* ABOUT SECTION */
.about-section-container {
  display: flex;
  justify-content: center;
  margin-bottom: 30rem;
}

@media (max-width: 600px) {
  :root {
    font-size: 10px;
  }

  /* NAVBAR */
  .menu-icon {
    position: absolute;
    z-index: 1;
    right: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transform: rotate(180deg);
    width: 2.7rem;
    height: 2rem;
  }

  .nav-logo img {
    margin-top: 0rem;
  }

  .menu-icon .bar {
    height: 0.1rem;
    width: 100%;
    transform-origin: left center;
    background-color: var(--clr-primary-200);
    transition: all var(--animation-timing);
  }

  .menu-icon.active span:nth-child(1) {
    transform: rotate(45deg);
  }

  .menu-icon.active span:nth-child(3) {
    transform: rotate(-45deg);
  }

  .middle {
    max-width: 70%;
  }

  .middle.active {
    width: 0;
  }

  .nav-links {
    position: absolute;
    right: 0;
    top: 0;
    background-color: var(--clr-bg);
    width: 21rem;
    height: 0;
    overflow: hidden;
    transition: all var(--animation-timing);
    border-left: 1px solid var(--clr-primary-200);
  }

  .nav-links.active {
    padding-top: 80px;
    height: 100vh;
    transition: all var(--animation-timing);
    border-left: 1px solid var(--clr-primary-200);
  }

  .nav-links ul {
    display: flex;
    flex-direction: column;
  }

  .nav-links ul a {
    font-size: 1.8rem;
  }

  .nav-links ul li {
    margin-right: unset;
    margin-top: 4rem;
  }

  /* HERO SECTION */

}
