@import url('https://fonts.googleapis.com/css2?family=Jost:wght@100;300;400;500;700&family=Raleway:wght@100;300;400;500;700&display=swap');

:root {
  font-size: 20px;

  --clr-primary-200: #A1A1A1;
  --clr-primary-400: #333333;
  --clr-primary-600: #151515;

  --clr-secondary-200: #F8A145;
  --clr-secondary-400: #F07900;

  --ff-headlines: "Raleway", sans-serif;
  --ff-text: "Jost", sans-serif;

  --animation-timing: 0.3s ease-in-out;
}

/* RESET CSS */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: var(--clr-primary-600);
  font-family: var(--ff-text);
  color: var(--clr-primary-200);
  font-weight: 300;
  line-height: 1rem;
}

body,
h1,
h2,
h3,
p {
  margin: 0;
}

h1,
h2,
h3 {
  color: var(--clr-primary-200);
  font-family: var(--ff-headlines);
  line-height: 1.5em;
}

/* NAVBAR */
.navbar {
  height: 8rem;
  background-color: transparent;
  position: relative;
}

.nav-container {
  max-width: 1700px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.nav-logo {
  margin-left: 4rem;
}

.nav-logo img {
  height: 4rem;
  margin-top: 0.5rem;
}

.nav-links ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  text-align: left;
}

.nav-links ul a {
  font-family: var(--ff-headlines);
  font-size: 1rem;
  font-weight: 400;
  color: var(--clr-primary-200);
  text-decoration: none;
  margin-right: 4rem;
}

.nav-links ul a.active {
  color: var(--clr-secondary-200);
  font-weight: 500;
}

.nav-links li {
  margin-top: 0.5rem;
  text-align: right;
}

/* HERO SECTION */
.hero-section-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-container {
  max-width: 600px;
}

.hero-container h1 {
  color: white;
  font-size: 3.5rem;
}

.hero-container h2 {
  color: var(--clr-primary-200);
  font-weight: 700;
  font-size: 1.5rem;
}

.hero-container h3 {
  color: var(--clr-secondary-200);
  font-weight: 400;
  font-size: 1rem;
}


.hero-p {
  margin-top: 1.5rem;
  line-height: 1.4rem;
}


/* .hero-headline-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 1.3rem;
  max-width: 1300px;
  padding: 0 4rem;
  margin-top: 8rem;
} */

.hero-triangle-container {
  position: relative;
  right: 50%;
  bottom: 20rem;
}

.hero-triangle {
  width: 100%;
  height: calc(200vh - 80px);
}

.triangle {
  position: fixed;
  transform: translate(0, -50px);
  width: 100%;
}

/* ABOUT SECTION */
.about-section-container {
  max-width: 1700px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.about-image-container {
  display: flex;
  flex-direction: row;
  text-align: left;
  position: relative;
  bottom: 15rem;
  left: 4rem;
}

.about-image {
  max-width: 30rem;
}

.about-headline-container {
  position: relative;
  right: 10rem;
}

.about-subline {
  font-size: 1rem;
}

.about-text-container {
  max-width: 580px;
  line-height: 1.5;
  position: relative;
  bottom: 5rem;
  right: 4rem;
}

.about-text-container h1 {
  font-size: 3rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

.about-btn {
  border: 1px solid var(--clr-secondary-400);
  background-color: transparent;
  color: var(--clr-secondary-400);
  padding: 0.5rem 1rem;
  margin-top: 1.5rem;
  margin-right: 1rem;
  cursor: pointer;
}


@media (max-width: 600px) {
  :root {
    font-size: 10px;
  }

  /* NAVBAR */
  .menu-icon {
    position: absolute;
    z-index: 1;
    right: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transform: rotate(180deg);
    width: 2.7rem;
    height: 2rem;
  }

  .nav-logo img {
    margin-top: 0rem;
  }

  .menu-icon .bar {
    height: 0.1rem;
    width: 100%;
    transform-origin: left center;
    background-color: var(--clr-primary-200);
    transition: all var(--animation-timing);
  }

  .menu-icon.active span:nth-child(1) {
    transform: rotate(45deg);
  }

  .menu-icon.active span:nth-child(3) {
    transform: rotate(-45deg);
  }

  .middle {
    max-width: 70%;
  }

  .middle.active {
    width: 0;
  }

  .nav-links {
    position: absolute;
    right: 0;
    top: 0;
    background-color: var(--clr-bg);
    width: 21rem;
    height: 0;
    overflow: hidden;
    transition: all var(--animation-timing);
    border-left: 1px solid var(--clr-primary-200);
  }

  .nav-links.active {
    padding-top: 80px;
    height: 100vh;
    transition: all var(--animation-timing);
    border-left: 1px solid var(--clr-primary-200);
  }

  .nav-links ul {
    display: flex;
    flex-direction: column;
  }

  .nav-links ul a {
    font-size: 1.8rem;
  }

  .nav-links ul li {
    margin-right: unset;
    margin-top: 4rem;
  }

  /* HERO SECTION */
  .hero-headline-container {
    margin-top: 16rem;
  }

  .hero-triangle-container {
    bottom: 7rem;
  }
}

@media(min-width: 601px) and (max-width: 1030px) {
  :root {
    font-size: 15px;
  }

  .hero-triangle-container {
    bottom: 10rem;
  }
}

@media(min-width: 1031px) and (max-width: 1630px) {
  :root {
    font-size: 18px;
  }

  .hero-triangle-container {
    bottom: 14rem;
  }
}
