@import url("https://fonts.googleapis.com/css2?family=Jost:wght@100;300;400;500;700&family=Raleway:wght@100;300;400;500;700&display=swap");

:root {
  --clr-primary-000: #ffffff;
  --clr-primary-200: #a1a1a1;
  --clr-primary-400: #333333;
  --clr-primary-600: #151515;

  --clr-secondary-200: #f8a145;
  --clr-secondary-400: #f07900;

  --ff-headlines: "Raleway", sans-serif;
  --ff-text: "Jost", sans-serif;

  --animation-timing: 0.3s ease-in-out;
}

/* RESET CSS */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: var(--clr-primary-600);
  font-family: var(--ff-text);
  color: var(--clr-primary-200);
  font-weight: 300;
  line-height: 1rem;
}

body,
h1,
h2,
h3,
p {
  margin: 0;
}

h1,
h2,
h3 {
  color: var(--clr-primary-200);
  font-family: var(--ff-headlines);
  line-height: 1.5em;
}

hr {
  position: relative;
  bottom: 4.1rem;
  width: 80%;
  height: 0px;
  border: none;
  border-top: 1px solid var(--clr-primary-400);
}

.section-headline {
  font-size: 4.7rem;
  margin: 0 auto;
  padding: 0 4rem;
  background-color: var(--clr-primary-600);
  color: var(--clr-primary-400);
  z-index: 800;
}

/* ANIMATIONS */
@keyframes pulse {
  0% {
    transform: scale(0.95);
  }
  60% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.95);
  }
}

/* MOBILE */
@media (max-width: 480px) {
  :root {
    font-size: 10px;
  }
}

/* TABLETS */
@media (min-width: 481px) and (max-width: 768px) {
  :root {
    font-size: 14px;
  }
}

/* LAPTOPS */
@media (min-width: 769px) and (max-width: 1300px) {
  :root {
    font-size: 16px;
  }
}

/* DESKTOPS */
@media (min-width: 1301px) {
  :root {
    font-size: 18px;
  }
}

/* NAVBAR */
/* .navbar {
  height: 6rem;
  background-color: transparent;
  position: relative;
}

.nav-container {
  max-width: 1700px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  border: 1px solid red;
} */

/* .cw-icon {
  background-image: url("./assets/codewars-white.svg");
  height: 1.8em;
  width: 1.8em;
}

.cw-icon.active {
  background-image: url("./assets/codewars-orange.svg");
  width: 1.8em;
  height: 1.8em;
} */

/* .github-icon {
  margin-left: 4rem;
}

.about-link {
  margin-left: 7rem;
}

.nav-logo img {
  height: 3.5rem;
  margin-top: 0.5rem;
}

.nav-links ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
}

.icon-align {
  position: relative;
  left: 5.3%;
  border: 1px solid red;
}

.nav-links ul a {
  font-family: var(--ff-headlines);
  font-size: 0.8rem;
  font-weight: 400;
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center; 
}

.nav-links ul a.active {
  color: var(--clr-secondary-400);
  font-weight: 500;
}

.nav-links li {
  margin-top: 0.5rem;
}

.nav-align {
  margin-top: 0.3rem;
  margin-right: 6rem;
}

.icon-align li {
  margin-right: 7rem;
} */

/* HERO SECTION */
/* .hero-section-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-container {
  margin-top: 4rem;
  max-width: 600px;
}

.hero-container h1 {
  color: white;
  font-size: 3.5rem;
}

.hero-container h2 {
  color: var(--clr-primary-200);
  font-weight: 700;
  font-size: 1.5rem;
}

.hero-container h3 {
  color: var(--clr-secondary-200);
  font-weight: 400;
  font-size: 1rem;
}

.hero-p {
  margin-top: 1.5rem;
  line-height: 1.4rem;
} */

/* .hero-headline-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 1.3rem;
  max-width: 1300px;
  padding: 0 4rem;
  margin-top: 8rem;
} */

/* .hero-triangle-container {
  position: relative;
  right: 50%;
  bottom: 20rem;
}

.hero-triangle {
  width: 100%;
  height: calc(200vh - 80px);
}

.triangle {
  position: fixed;
  transform: translate(0, -50px);
  width: 100%;
} */

/* ABOUT SECTION */
/* .about-section-container {
  max-width: 1700px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.about-image-container {
  display: flex;
  flex-direction: row;
  text-align: left;
  position: relative;
  bottom: 15rem;
  left: 4rem;
}

.about-image {
  max-width: 30rem;
}

.about-headline-container {
  position: relative;
  right: 10rem;
}

.about-subline {
  font-size: 1rem;
}

.about-text-container {
  max-width: 580px;
  line-height: 1.5;
  position: relative;
  bottom: 5rem;
  right: 4rem;
}

.about-text-container h1 {
  font-size: 3rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

.about-btn {
  border: 1px solid var(--clr-secondary-400);
  background-color: transparent;
  color: var(--clr-secondary-400);
  padding: 0.5rem 1rem;
  margin-top: 1.5rem;
  margin-right: 1rem;
  cursor: pointer;
} */

/* @media (max-width: 600px) {
  :root {
    font-size: 10px;
  } */

/* NAVBAR */
/* .nav-container {
    justify-content: space-between;
  }

  .menu-icon {
    position: absolute;
    z-index: 3;
    right: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transform: rotate(180deg);
    width: 2.7rem;
    height: 2rem;
    margin-top: 1rem;
  }

  .nav-logo img {
    margin-top: 1rem;
    margin-left: 4rem;
  }

  .menu-icon .bar {
    height: 0.1rem;
    width: 100%;
    transform-origin: left center;
    background-color: var(--clr-primary-200);
    transition: all var(--animation-timing);
  }

  .menu-icon.active span:nth-child(1) {
    transform: rotate(45deg);
  }

  .menu-icon.active span:nth-child(3) {
    transform: rotate(-45deg);
  }

  .middle {
    max-width: 70%;
  }

  .middle.active {
    width: 0;
  }

  .github-icon {
    margin-left: 0;
  }

  .codewars-icon {
    background-image: url("./assets/codewars-white.svg");
    height: 1.8em;
    width: 1.8em;
  }
  
  .codewars-icon.active {
    background-image: url("./assets/codewars-orange.svg");
    width: 1.8em;
    height: 1.8em;
  }

  .nav-links {
    position: absolute;
    right: 0;
    top: 0;
    background-color: var(--clr-primary-600);
    width: 50%;
    height: 0;
    overflow: hidden;
    transition: all var(--animation-timing);
    border-left: 1px solid var(--clr-primary-200);
    z-index: 2;
  }

  .nav-links.active {
    padding-top: 6rem;
    height: 100vh;
    transition: all var(--animation-timing);
    border-left: 1px solid var(--clr-primary-200);
  }

  .icon-align {
    position: relative;
    top: 100vh;
    background-color: transparent;
  }

  .icon-align.active {
    padding-top: 0;
  }

  .icon-align ul {
    margin-top: 0;
  }

  .nav-links ul {
    display: flex;
    flex-direction: column;
  }

  .nav-links ul a {
    font-size: 1.4rem;
    margin-top: 5rem;
    margin-right: 4rem;
  }

  .icon-align ul a {
    margin-top: 0;
    margin-bottom: 5rem;
  }

  .nav-links ul li {
    margin-right: unset;
    margin-top: 0;
  } */

/* HERO SECTION */
/* .hero-headline-container {
    margin-top: 16rem;
  }

  .hero-triangle-container {
    bottom: 7rem;
  }
} */

/* @media(min-width: 601px) and (max-width: 1030px) {
  :root {
    font-size: 15px;
  } */

/* NAVBAR */
/* .nav-links ul a {
    margin-right: 3rem;
  }

  .github-icon {
    margin-left: 0;
  }

  .nav-logo img {
    height: 3rem;
  } */

/* .hero-triangle-container {
    bottom: 10rem;
  }
}

@media(min-width: 1031px) and (max-width: 1630px) {
  :root {
    font-size: 18px;
  }

  .hero-triangle-container {
    bottom: 14rem;
  } */

/* .nav-container {
    border: 1px solid red;
    margin: 0 auto;
  }

  .nav-links ul a {
    margin-right: 4rem;
  }

  .nav-links ul {
    
    border: 1px solid red;
  }

  .github-icon {
    margin-left: 2rem;
  }

  .nav-logo img {
    height: 3rem;
  } */

/* } */
