.hero-section-container {
  display: flex;
  flex-direction: column;
}

.hero-headline-container {
  margin: 13rem auto;
  margin-top: 19rem;
  max-width: 60%;
  text-align: center;
}

.hero-headline-container h1 {
  color: var(--clr-primary-000);
  font-size: 3rem;
}

.hero-headline-container h2 {
  color: var(--clr-primary-200);
  font-weight: 700;
  font-size: 2rem;
}

.hero-headline-container h3 {
  color: var(--clr-secondary-400);
  font-weight: 400;
  font-size: 1rem;
}

.hero-headline-container p {
  margin: auto;
  margin-top: 1.5rem;
  line-height: 1.6rem;
  max-width: 50%;
}

.hero-section-btn {
  background-image: url("../../assets/triangle-button.svg");
  background-color: transparent;
  background-repeat: no-repeat;
  width: 8rem;
  height: 7rem;
  margin-top: 3rem;
  margin-bottom: 4rem;
  padding-bottom: 2rem;
  border: none;
  cursor: pointer;
  color: var(--clr-primary-000);
  white-space: pre-line;
}

.hero-section-btn.active {
  animation: pulse 2s infinite;
}

.hero-section-btn:hover {
  animation: none;
}

/* MOBILE + SMALL SCREENS */
@media (max-width: 1380px) {
  .hero-headline-container {
    max-width: 37rem;
    padding: 0 2rem;
  }

  .hero-headline-container h1 {
    font-size: 2.8rem;
    line-height: 5.6rem;
  }

  .hero-headline-container h2 {
    font-size: 2rem;
    line-height: 3rem;
  }

  .hero-headline-container h3 {
    font-size: 1.25rem;
  }

  .hero-headline-container p {
    max-width: 33rem;
    font-size: 1.25rem;
    line-height: 1.875rem;
  }
}

/* ULTRA-WIDE SCREENS */
@media (min-width: 1921px) {
  .hero-headline-container {
    margin-top: 25rem;
    margin-bottom: 20rem;
  }
}
