.contact-section-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 60rem;
}

.contact-container {
  max-width: 30rem;
  line-height: 1.6rem;
  margin: auto;
  text-align: center;
}

.contact-container h3 {
  color: var(--clr-secondary-400);
  font-weight: 400;
  font-size: 1rem;
  margin-bottom: 0.8rem;
}

.contact-container h2 {
  font-size: 3rem;
  line-height: 3rem;
  margin-bottom: 2rem;
  color: var(--clr-primary-000);
}

.contact-btn {
  background-image: url("../../assets/triangle-button.svg");
  background-color: transparent;
  background-repeat: no-repeat;
  width: 8rem;
  height: 7rem;
  margin-top: 3rem;
  padding-bottom: 2rem;
  border: none;
  cursor: pointer;
  color: var(--clr-primary-000);
  animation: pulse 2s infinite;
}

.contact-btn:hover {
  animation: none;
}

.contact-credits h4 {
  font-size: 0.8rem;
  font-weight: 300;
  text-align: center;
}

.credits-link {
  text-decoration: none;
  color: var(--clr-primary-200);
  transition: all var(--animation-timing);
}

.credits-link:hover {
  color: var(--clr-secondary-200);
}

/* MOBILE + SMALL SCREENS */
@media (max-width: 1380px) {
  .contact-container {
    max-width: 33rem;
    margin: auto 2rem;
  }
}

/* SOCIAL ICONS FOR MOBILE */
@media (max-width: 768px) {
  .contact-social-btn {
    max-width: 15rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
  }

  .contact-github-icon {
    font-size: 20px;
    transition: transform var(--animation-timing);
    margin-right: 3rem;
  }

  .contact-linkedin-icon {
    font-size: 20px;
    transition: transform var(--animation-timing);
    margin-left: 3rem;
  }

  .contact-github-icon:hover,
  .contact-linkedin-icon:hover {
    transform: translateY(-3px);
    cursor: pointer;
    color: var(--clr-secondary-200);
  }

  .contact-cw-icon {
    background-image: url("../../assets/codewars-grey.svg");
    background-size: 1.62rem;
    background-repeat: no-repeat;
    display: inline-block;
    width: 1.62rem;
    height: 1.62rem;
    transition: transform var(--animation-timing);
  }

  .contact-cw-icon:hover {
    background-image: url("../../assets/codewars-orange-200.svg");
    transform: translateY(-3px);
    cursor: pointer;
  }
}

/* ULTRA-WIDE SCREENS */
@media (min-width: 1921px) {
  .contact-section-container {
    height: 70rem;
  }
}
